/*
	Team IDK (Ethan Machleder, Matthew Hui)
  	SoftDev Period 1
    K18: Filler and Finery // inline CSS
    2021-01-12
*/

body {
	background-color: rgb(128,128,128); 
	font-family: Arial, Helvetica, sans-serif;
}
.text {
	margin-left: 200px;
}
h1 {
	background-color: rgb(217,217,217); 
	color: white; 
	text-align: center; 
	margin: 0px;
}
h3 {
	margin-left: 5px;
}
ul {
	list-style-type: none; 
	padding-left: 0px; 
	margin-left: 5px;
}
a {
	text-decoration: none; 
	color: white;
}
.main {
	background-color: rgb(153,153,153);
}
.list {
	text-align: justify; 
	float: left; 
	margin-left: 10px;
}
.copyright {
	background-color: rgb(89,89,89); 
	color: #a6a6a6; 
	text-align: right; 
	padding-top: 10px; 
	padding-bottom: 10px;
	margin: 0px;
}